@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.bg-chat {
  background: url("../assets/bg_chat.png") #0e1920;
  opacity: 0.07;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-dark-1 {
  background-color: $dark-page;
}

.bg-dark-2 {
  background-color: #111b21;
}

.bg-dark-3 {
  background-color: #202c33;
}
.bg-dark-4 {
  background-color: #202c33;
}

.border-drawer {
  border-right: 1px solid $border;
}

.border-item-chat {
  position: relative;
}

.border-item-chat::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 85%;
  height: 1px;
  background-color: $border;
}

.q-field--dark {
  color: #fff;
}
.q-field__native,
.q-field__append {
  color: #fff !important;
}

.q-message {
  max-width: 70%;
}
// #222e35
